.tombol {
	background-color:#6495ED; 
  	border-radius: 0.6em;
  	color: #FFFFFF;
  	display: flex;
  	font-weight: 400;
  	margin: 20px;
  	padding: 1.0em 2.5em;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-family: sans-serif;
  	font-weight: 700;
}


	


